---
osmsc_storageclass_cloud: aws
osmsc_storageclass_defaults:
  aws:
    name: gp2
    provisioner: kubernetes.io/aws-ebs
    type: gp2
  gcp:
    name: standard
    provisioner: kubernetes.io/gce-pd
    type: pd-standard

osmsc_storageclass_name: "{{ osmsc_storageclass_defaults[osmsc_storageclass_cloud]['name'] }}"
osmsc_storageclass_provisioner: "{{ osmsc_storageclass_defaults[osmsc_storageclass_cloud]['provisioner'] }}"
osmsc_storageclass_type: "{{ osmsc_storageclass_defaults[osmsc_storageclass_cloud]['type'] }}"

