#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-pod-logger... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true --name oso-pod-logger oso-rhel7-pod-logger $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true --name oso-pod-logger oso-centos7-pod-logger $@
{% endif %}
echo "Done."
