---
targets:
- name: other cluster zagg
  type: zagg
  url: https://blah.router-shard.openshift.com
  path: /var/run/zagg/data/ops-zagg

- name: local cluster zbx server
  type: zabbix
  trapper_server: localhost
  trapper_port: 10051
  api_url: http://localhost/zabbix/api_jsonrpc.php
  api_user: Admin
  api_pass: XXXXXX
  path: /var/run/zagg/data/cluster-zbx
