---
host:
    name: hostname.example.com
zagg:
    host: 172.17.0.164
    user: admin
    pass: XXXXXX
    ssl_verify: False
pcp:
    metrics:
        - kernel.all
        - swap.free
        - swap.length
        - swap.used
heartbeat:
    templates:
        - template1
        - template2
        - template3
    hostgroups:
        - hostgroup1
        - hostgroup2
        - hostgroup3
