---
targets:
- name: local cluster zbx server
  type: zabbix
  trapper_server: localhost
  trapper_port: 10051
  api_url: http://localhost/zabbix/api_jsonrpc.php
  api_user: Admin
  api_password: XXXXXX
  ssl_verify: no
  path: /var/run/zagg/data/cluster-zbx

- name: Operations Cluster Zagg
  path: /var/run/zagg/data/ops-zagg
  type: zagg
  url: https://localhost:8443
  user: admin
  password: XXXXXX
  ssl_verify: no
