#!/bin/bash
{{ generated_header }}

sudo echo -e "\nTesting sudo works...\n"

sudo docker run -ti --rm --name oso-{{ base_os }}-zagg-web \
  --link oso-{{ base_os }}-zaio:oso-{{ base_os }}-zaio \
  -e "ZAGG_SERVER_USER=admin" \
  -e "ZAGG_SERVER_PASSWORD=password" \
  -v /etc/localtime:/etc/localtime \
  -v /var/lib/docker/volumes/shared:/shared:rw \
  -p 8000:8000 \
  -p 8443:8443 \
  oso-{{ base_os }}-zagg-web $1
