#!/bin/bash
{{ generated_header }}

set -o errexit

function cleanup() {
  echo -n "Removing the fingerprint... "
  [ -f ${container_fingerprint} ] && rm -f "${container_fingerprint}"
  echo "Done."
}

trap 'exit $?' ERR
trap cleanup  INT TERM EXIT

sudo echo -e "\nTesting sudo works...\n"

# We MUST be in the same directory as this script for the build to work properly
cd $(dirname $0)

# generate container fingerprint (user/location/timestamp/git information)
container_fingerprint='./container-build-env-fingerprint.output'
./container-build-env-fingerprint.sh > ${container_fingerprint}

## Make sure base is built with latest changes since we depend on it.
# commenting this out for now because ops-base does a full rebuild everytime
#if ../oso-rhel7-ops-base/build.sh ; then
  # Build ourselves
  echo
  echo "Building oso-{{ base_os }}-host-monitoring..."
{% if base_os == "rhel7" %}
  sudo time docker build $@ -t oso-rhel7-host-monitoring .
{% elif base_os == "centos7" %}
  sudo time docker build $@ -t oso-centos7-host-monitoring . && \
  sudo docker tag -f oso-centos7-host-monitoring openshifttools/oso-centos7-host-monitoring:latest
{% endif %}
#fi
