#!/bin/bash
{{ generated_header }}

{% if base_os == "rhel7" %}
if ! grep -qi 'Red Hat Enterprise Linux' /etc/redhat-release ; then
  echo "ERROR: We only allow pushing from a RHEL machine because it allows secrets volumes."
  exit 1
fi
{% endif %}

# Make sure base is pushed with the latest changes since we depend on it.
if ../../oso-ops-base/{{ base_os }}/push.sh ; then
  # Push ourselves
  echo
  echo "Pushing oso-{{ base_os }}-host-monitoring..."
{% if base_os == "rhel7" %}
  echo "No push for rhel7, use the automation on tower"
{% elif base_os == "centos7" %}
  echo "Ensure you have successfully authenticated against docker with a 'docker login'"
  sudo docker push openshifttools/oso-centos7-host-monitoring
{% endif %}
fi
