zabbix_data_sync_inventory_hosts = {{ zabbix_host_inventory }}
cluster_desired_compute_size = {{ openshift_aws_compute_group_desired_size }}
cluster_desired_infra_size = {{ openshift_aws_infra_group_desired_size }}
cluster_desired_master_size = {{ openshift_aws_master_group_desired_size }}
