# Configuration options for applying project and optionally cluster role to dedicated users and/or groups
# Options:
#  -u USERS, --users=USERS
#                        Comma separated list of dedicated user names
#  -g GROUPS, --groups=GROUPS
#                        Comma separated list of dedicated group names
#  -s SKIP_PROJECTS, --skip-projects=SKIP_PROJECTS
#                        Comma separated list of project names. Dedicated
#                        project/cluster roles will not be applied to these
#                        projects. Default: default,openshift-infra
#  -p PROJECT_ROLE_FILE, --project-role-file=PROJECT_ROLE_FILE
#                        Dedicated project role file in JSON/YAML format
#  -c CLUSTER_ROLE_FILE, --cluster-role-file=CLUSTER_ROLE_FILE
#                        Dedicated cluster role file in JSON/YAML format
#  -r, --recreate        Delete existing project/cluster roles and recreate
#                        from scratch. Only recommended if you modify
#                        project/cluster role.
#  -v, --verbose         Show verbose/debug information

OPTIONS="\
--project-role-file=/etc/openshift-dedicated/project-admin-role.json \
--cluster-role-file=/etc/openshift-dedicated/cluster-admin-role.json \
--skip-projects=default,openshift-infra \
--users={{ oda_ded_admin_users | join(",") }} \
--recreate \
--groups= \
--verbose \
"

# Kube configuration with cluster-admin privileges for connecting to OpenShift Master
KUBECONFIG=/etc/origin/master/admin.kubeconfig
