#!/bin/bash

# Script to recreate var partition in one operation.
# Ansible parted module supports recreate with delete + create.
# But it is two separate operations.  It needs to be one.

# Script below does the following:
# p - print
# d 2 - delete partition
# p 2 N N - create partition
# t 2 8e - tag as Linux LVM
# p - print
# w - write

cat << EOF | fdisk {{ partition_name }}
p
d
{{ partition_number|int }}
n
p
{{ partition_number|int }}
{{ partition_begin|int }}
{{ partition_end|int }}
t
{{ partition_number|int }}
8e
p
w
EOF

