<!DOCTYPE html>
<html>
<title>SRE Report Dashboard</title>
{{template "header.html"}}
<body>
{{template "navbar.html"}}
<div id="graphdiv" style="margin-left: 10%;padding-top: 75px;">
    <iframe src="takedowns" style="border: 2px solid grey;padding-top:  75px;background-color: white;" height="850px;" width="90%;"></iframe>
</div>
<br>
<div id="breakdiv" style="margin-left: 40%;">
    <h1>"Placeholder frames"</h1>
</div>
<table style="position:  absolute; background-color: white; margin-left:  10%; width: 80%; height:  100%;">
    <tbody>
    <tr>
        <td><iframe src="about:blank" style="border:2px solid grey;" height="100%" width="100%"></iframe></td>
        <td><iframe src="about:blank" style="border:2px solid grey;" height="100%" width="100%"></iframe></td>
    </tr>
    <tr>
        <td><iframe src="about:blank" style="border:2px solid grey;" height="100%" width="100%"></iframe></td>
        <td><iframe src="about:blank" style="border:2px solid grey;" height="100%" width="100%"></iframe></td>
    </tr>
 </tbody>
</table>
