[core]
# Full list of configuration options are available from https://sopel.chat/docs/config.html#the-core-configuration-section
nick = srebot
host = irc.freenode.com
use_ssl = false
port = 6667
owner = ownernick
admins = admin1, admin2
channels = #mybot
exclude = url, ipython
extra = /absolute/path/to/openshift-tools/openshift_tools/trello, /absolute/path/to/openshift-tools/openshift_tools/openshift_sre
auth_method = userserv
auth_username = <nick>
auth_password = <pass>
auth_target = USERSERV
