#!/bin/bash -e
{{ generated_header }}


echo -n "Running oso-{{ base_os }}-bastion... "

# TODO: Remove privileged, net=host and OO_PAUSE_ON_START
sudo docker run --rm=true -it --name oso-{{ base_os }}-bastion    \
            --privileged                                  \
            --net=host                                    \
            --env OO_PAUSE_ON_START=true                  \
            -v /var/lib/docker/volumes/shared:/shared:rw  \
            oso-{{ base_os }}-bastion $@

echo "Done."
