#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-freshclam... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true --name freshclam oso-rhel7-freshclam $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true --name freshclam oso-centos7-freshclam $@
{% endif %}
echo "Done."
