---
g_template_os_linux:
  name: Template OS Linux
  zitems:
  - key: kernel.uname.sysname
    applications:
    - Kernel
    value_type: string

  - key: kernel.all.cpu.wait.total
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.all.cpu.irq.hard
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.all.cpu.idle
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.uname.distro
    applications:
    - Kernel
    value_type: string

  - key: kernel.uname.nodename
    applications:
    - Kernel
    value_type: string

  - key: kernel.all.cpu.irq.soft
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.all.load.15_minute
    applications:
    - Kernel
    value_type: float

  - key: kernel.all.cpu.sys
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.all.load.5_minute
    applications:
    - Kernel
    value_type: float

  - key: kernel.all.cpu.nice
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.all.load.1_minute
    applications:
    - Kernel
    value_type: float

  - key: kernel.uname.version
    applications:
    - Kernel
    value_type: string

  - key: kernel.all.uptime
    applications:
    - Kernel
    value_type: int

  - key: kernel.all.cpu.user
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.uname.machine
    applications:
    - Kernel
    value_type: string

  - key: hinv.ncpu
    applications:
    - Kernel
    value_type: int

  - key: kernel.all.cpu.steal
    applications:
    - Kernel
    value_type: float
    units: "%"

  - key: kernel.all.pswitch
    applications:
    - Kernel
    value_type: int

  - key: kernel.uname.release
    applications:
    - Kernel
    value_type: string

  - key: proc.nprocs
    applications:
    - Kernel
    value_type: int

  # Memory Items
  - key: mem.freemem
    applications:
    - Memory
    value_type: int
    description: "PCP: free system memory metric from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: mem.util.bufmem
    applications:
    - Memory
    value_type: int
    description: "PCP: Memory allocated for buffer_heads.; I/O buffers metric from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: swap.used
    applications:
    - Memory
    value_type: int
    description: "PCP: swap used metric from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: swap.length
    applications:
    - Memory
    value_type: int
    description: "PCP: total swap available metric from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: mem.physmem
    applications:
    - Memory
    value_type: int
    description: "PCP: The value of this metric corresponds to the \"MemTotal\" field reported by /proc/meminfo. Note that this does not necessarily correspond to actual installed physical memory - there may be areas of the physical address space mapped as ROM in various peripheral devices and the bios may be mirroring certain ROMs in RAM."
    multiplier: 1024
    units: B

  - key: swap.free
    applications:
    - Memory
    value_type: int
    description: "PCP: swap free metric from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: mem.util.available
    applications:
    - Memory
    value_type: int
    description: "PCP: The amount of memory that is available for a new workload, without pushing the system into swap. Estimated from MemFree, Active(file), Inactive(file), and SReclaimable, as well as the \"low\" watermarks from /proc/zoneinfo.; available memory from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: mem.util.used
    applications:
    - Memory
    value_type: int
    description: "PCP: Used memory is the difference between mem.physmem and mem.freemem; used memory metric from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: mem.util.cached
    applications:
    - Memory
    value_type: int
    description: "PCP: Memory used by the page cache, including buffered file data.  This is in-memory cache for files read from the disk (the pagecache) but doesn't include SwapCached.; page cache metric from /proc/meminfo"
    multiplier: 1024
    units: B

  - key: mem.system.slice.current
    applications:
    - Memory
    value_type: int
    description: "Current RSS memory usage reading from system.slice cgroup"
    units: B

  - key: mem.kubepod.slice.current
    applications:
    - Memory
    value_type: int
    description: "Current RSS memory usage reading from kubepod.slice cgroup"
    units: B

  - key: mem.docker.service.current
    applications:
    - Memory
    value_type: int
    description: "Current RSS memory usage reading from system/docker.service cgroup"
    units: B

  - key: mem.aos-node.service.current
    applications:
    - Memory
    value_type: int
    description: "Current RSS memory usage reading from system/atomic-openshift-node.service cgroup"
    units: B

  # security items
  - key: yum.security.updates
    applications:
    - Security
    value_type: int
    description: "The number of security updates that are pending on the host (excluding any that have been whitelisted)"

  - key: yum.security.updates.skipped
    applications:
    - Security
    value_type: int
    description: "The number of security updates that are pending on the host but are ignored by yum.security.updates as they are whitelisted"

  - key: rkhunter.found.warning
    applications:
    - Security
    value_type: int
    description: "The number of occurrences of warning messages found in rkhunter.log"

  - key: rkhunter.found.infection
    applications:
    - Security
    value_type: int
    description: "The number of occurrences of infection messages found in rkhunter.log"

  zdiscoveryrules:
  - name: disc.filesys
    key: disc.filesys
    lifetime: 1
    description: "Dynamically register the filesystems"

  - name: disc.disk
    key: disc.disk
    lifetime: 1
    description: "Dynamically register disks on a node"

  - name: disc.network
    key: disc.network
    lifetime: 1
    description: "Dynamically register network interfaces on a node"

  zitemprototypes:
  - discoveryrule_key: disc.filesys
    name: "{% raw %}disc.filesys.full.{{ '{#' }}OSO_FILESYS}{% endraw %}"
    key: "{% raw %}disc.filesys.full[{{ '{#' }}OSO_FILESYS}]{% endraw %}"
    value_type: float
    description: "PCP filesys.full option.  This is the percent full returned from pcp filesys.full"
    applications:
    - Disk

  - discoveryrule_key: disc.filesys
    name: "{% raw %}Percentage of used inodes on {{ '{#' }}OSO_FILESYS}{% endraw %}"
    key: "{% raw %}disc.filesys.inodes.pused[{{ '{#' }}OSO_FILESYS}]{% endraw %}"
    value_type: float
    description: "PCP derived value of percentage of used inodes on a filesystem."
    applications:
    - Disk

  - discoveryrule_key: disc.disk
    name: "{% raw %}TPS (IOPS) for disk {{ '{#' }}OSO_DISK}{% endraw %}"
    key: "{% raw %}disc.disk.tps[{{ '{#' }}OSO_DISK}]{% endraw %}"
    value_type: int
    description: "PCP disk.dev.totals metric measured over a period of time.  This shows how many disk transactions per second the disk is using"
    applications:
    - Disk

  - discoveryrule_key: disc.disk
    name: "{% raw %}Percent Utilized for disk {{ '{#' }}OSO_DISK}{% endraw %}"
    key: "{% raw %}disc.disk.putil[{{ '{#' }}OSO_DISK}]{% endraw %}"
    value_type: float
    description: "PCP disk.dev.avactive metric measured over a period of time.  This is the '%util' in the iostat command"
    applications:
    - Disk

  - discoveryrule_key: disc.network
    name: "{% raw %}Bytes per second IN on network interface {{ '{#' }}OSO_NET_INTERFACE}{% endraw %}"
    key: "{% raw %}disc.network.in.bytes[{{ '{#' }}OSO_NET_INTERFACE}]{% endraw %}"
    value_type: int
    units: B
    delta: 1
    description: "PCP network.interface.in.bytes metric.  This is setup as a delta in Zabbix to measure the speed per second"
    applications:
    - Network

  - discoveryrule_key: disc.network
    name: "{% raw %}Bytes per second OUT on network interface {{ '{#' }}OSO_NET_INTERFACE}{% endraw %}"
    key: "{% raw %}disc.network.out.bytes[{{ '{#' }}OSO_NET_INTERFACE}]{% endraw %}"
    value_type: int
    units: B
    delta: 1
    description: "PCP network.interface.out.bytes metric.  This is setup as a delta in Zabbix to measure the speed per second"
    applications:
    - Network

  ztriggerprototypes:
  - name: "{% raw %}Disk: {{ '{#' }}OSO_DISK} has >500 IOPS for 15 minutes on {HOST.NAME}{% endraw %}"
    expression: "{% raw %}{Template OS Linux:disc.disk.tps[{{ '{#' }}OSO_DISK}].min(15m)}>500{% endraw %}"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_high_iops.asciidoc"
    priority: average

  # This has a dependency on the previous trigger
  - name: "{% raw %}[Heal] Filesystem: {{ '{#' }}OSO_FILESYS} has less than 10% free disk space on {HOST.NAME}{% endraw %}"
    expression: "{% raw %}({TRIGGER.VALUE}=0 and {Template OS Linux:disc.filesys.full[{{ '{#' }}OSO_FILESYS}].last()}>90) or ({TRIGGER.VALUE}=1 and {Template OS Linux:disc.filesys.full[{{ '{#' }}OSO_FILESYS}].last()}>80){% endraw %}"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_filesys_full.asciidoc"
    priority: high

  # This has a dependency on the previous trigger
  # Trigger Prototypes do not work in 2.4.  They will work in Zabbix 3.0
  - name: "{% raw %}[Heal] Filesystem: {{ '{#' }}OSO_FILESYS} has less than 15% free disk space on {HOST.NAME}{% endraw %}"
    expression: "{% raw %}{Template OS Linux:disc.filesys.full[{{ '{#' }}OSO_FILESYS}].last()}>85{% endraw %}"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_filesys_full.asciidoc"
    priority: warn
    dependencies:
    - "{% raw %}[Heal] Filesystem: {{ '{#' }}OSO_FILESYS} has less than 10% free disk space on {HOST.NAME}{% endraw %}"

  - name: "{% raw %}Filesystem: {{ '{#' }}OSO_FILESYS} has less than 5% free inodes on {HOST.NAME}{% endraw %}"
    expression: "{% raw %}{Template OS Linux:disc.filesys.inodes.pused[{{ '{#' }}OSO_FILESYS}].last()}>95{% endraw %}"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_filesys_full.asciidoc"
    priority: high

  # This has a dependency on the previous trigger
  # Trigger Prototypes do not work in 2.4.  They will work in Zabbix 3.0
  - name: "{% raw %}Filesystem: {{ '{#' }}OSO_FILESYS} has less than 10% free inodes on {HOST.NAME}{% endraw %}"
    expression: "{% raw %}{Template OS Linux:disc.filesys.inodes.pused[{{ '{#' }}OSO_FILESYS}].last()}>90{% endraw %}"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_filesys_full.asciidoc"
    priority: warn
    dependencies:
    - "{% raw %}Filesystem: {{ '{#' }}OSO_FILESYS} has less than 5% free inodes on {HOST.NAME}{% endraw %}"

  ztriggers:
  - name: "Too many TOTAL processes on {HOST.NAME}"
    expression: "{Template OS Linux:proc.nprocs.last()}>5000"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_proc.asciidoc"
    priority: warn

  - name: "Critical lack of available memory on {HOST.NAME}"
    expression: "{Template OS Linux:mem.util.available.last()}<314572800"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_memory.asciidoc"
    priority: avg

  - name: "Lack of available memory on {HOST.NAME}"
    expression: "{Template OS Linux:mem.util.available.last()}<524288000"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_memory.asciidoc"
    priority: avg
    dependencies:
    - "Critical lack of available memory on {HOST.NAME}"

    #  CPU Utilization #
  - name: "CPU idle less than 5% on {HOST.NAME}"
    expression: "{Template OS Linux:kernel.all.cpu.idle.max(#5)}<5"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_cpu_idle.asciidoc"
    priority: average
    description: "CPU is less than 5% idle"

  - name: "CPU idle less than 10% on {HOST.NAME}"
    expression: "{Template OS Linux:kernel.all.cpu.idle.max(#5)}<10"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_cpu_idle.asciidoc"
    priority: average
    description: "CPU is less than 10% idle"
    dependencies:
    - "CPU idle less than 5% on {HOST.NAME}"

  - name: "Security updates available for {HOST.NAME}"
    expression: "{Template OS Linux:yum.security.updates.last(0)}>0"
    url: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/check_yum_update.asciidoc"
    priority: info
    description: "One or more security updates need to be applied to the host"

  - name: "RKHunter scan found warnings for {HOST.NAME}"
    expression: "{Template OS Linux:rkhunter.found.warning.last(0)}>0"
    url: "https://github.com/openshift/ops-sop/blob/master/V3/Alerts/check_rkhunter.asciidoc"
    priority: warning
    description: "RKHunter found one or more warning-level issues issues"

  - name: "RKHunter scan found infections on {HOST.NAME}"
    expression: "{Template OS Linux:rkhunter.found.infection.last(0)}>0"
    url: "https://github.com/openshift/ops-sop/blob/master/V3/Alerts/check_rkhunter.asciidoc"
    priority: average
    description: "RKHunter found one or more infected system files"
