---
# This is an example of what we expect the secrets vars file to look like
g_zagg_client_config:
  host:
    name: "{{ g_hostname }}"
  zagg:
    host: zagg-server
    user: zagg-user
    pass: zagg-password
  pcp:
    metrics:
    - hinv.ncpu
    - proc.nprocs
    - kernel.all.pswitch
    - kernel.all.cpu.nice
    - kernel.all.cpu.user
    - kernel.all.cpu.sys
    - kernel.all.cpu.wait.total
    - kernel.all.cpu.irq.hard
    - kernel.all.cpu.steal
    - kernel.all.cpu.irq.soft
    - kernel.all.cpu.idle
    - kernel.all.load
    - kernel.all.uptime
    - kernel.uname.machine
    - kernel.uname.release
    - kernel.uname.version
    - kernel.uname.sysname
    - kernel.uname.nodename
    - kernel.uname.distro
    - kernel.uname.nodename
    - mem.physmem
    - mem.freemem
    - mem.util.bufmem
    - mem.util.cached
    - mem.freemem
    - mem.physmem
    - mem.freemem
    - mem.util.used
    - swap.free
    - swap.used
    - swap.length
    - swap.length
    - swap.free
    - swap.used
  heartbeat:
    templates:
    - Template Heartbeat # So we can send hearbeats
    - Template OS Linux  # So we can send host related metrics
    hostgroups:
    - Linux servers
