<?php
/**
 * SAML 2.0 IdP configuration for SimpleSAMLphp.
 *
 * See: https://simplesamlphp.org/docs/stable/simplesamlphp-reference-idp-hosted
 */

$metadata['__DYNAMIC:1__'] = array(
        'host' => '__DEFAULT__',
        'privatekey' => '{{saml2_sso_configdata.saml_privatekey_file}}',
        'certificate' => '{{saml2_sso_configdata.saml_cert_file}}',
        'auth' => '{{saml2_sso_configdata.idp_auth_module}}',
);
