#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-clamd-update... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true --name clamd-update oso-rhel7-clamd-update $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true --name clamd-update oso-centos7-clamd-update $@
{% endif %}
echo "Done."
