version: 0.1
log:
  level: debug
http:
  addr: :5000
storage:
  cache:
    layerinfo: inmemory
  delete:
    enabled: true
  s3:
    accesskey: {{ osareg_aws_access_key }}
    secretkey: {{ osareg_aws_secret_key }}
    region: {{ osareg_region }}
    bucket: {{ osareg_bucket_name }}
    encrypt: true
    keyid: {{ osareg_kms_arn }}
    secure: true
    v4auth: true
    rootdirectory: /registry
auth:
  openshift:
    realm: openshift
middleware:
  repository:
    - name: openshift
      options:
        pullthrough: true
