#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-clam-controller... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true --name oso-clam-controller oso-rhel7-clam-controller $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true --name oso-clam-controller oso-centos7-clam-controller $@
{% endif %}
echo "Done."
