#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-zabbix-web... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true -e 'ZABBIX_SERVER_HOSTNAME=oso-rhel7-zabbix-server' --name zabbix-web oso-rhel7-zabbix-web $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true -e 'ZABBIX_SERVER_HOSTNAME=oso-cent7-zabbix-server' --name zabbix-web oso-centos7-zabbix-web $@
{% endif %}
echo "Done."
