---
host:
    name: {{ hostname }}
zagg:
    active: True
    debug: {{ zagg_configdata.debug | default('False') }}
    pass: {{ zagg_configdata.password }}
    ssl_verify: {{ zagg_configdata.ssl_verify | default('True') }}
    url: {{ zagg_configdata.url }}
    user: {{ zagg_configdata.user }}
    verbose: {{ zagg_configdata.verbose | default('False') }}
hawk:
    active: False
    url: https://127.0.0.1/
    user: none
    pass: none
    verbose: False
    debug: False
    ssl_verify: False
#metadata_rules:
#  - regex: .*memory.*
#    tags:
#      units: byte
#  - regex: .*version.*
#    tags:
#      descriptior_name: version
heartbeat:
    templates:
    - Template Heartbeat
    - Template Ops SSO
{% if 'hostgroups' in zagg_configdata and zagg_configdata.hostgroups | length > 0 %}
    hostgroups:
{% for group in zagg_configdata.hostgroups %}
    - {{ group }}
{% endfor %}
{% else %}
    hostgroups: []
{% endif %}
    config_file: /etc/openshift_tools/hawk_client.yaml

synthetic_clusterwide:
    heartbeat:
        templates:
        - Template Heartbeat
        - Template OpenShift Cluster
        - Template Ops SSO
    host:
        name: ops-aws-synthetic
