#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-image-inspector... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true --name oso-image-inspector oso-rhel7-image-inspector $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true --name oso-image-inspector oso-centos7-image-inspector $@
{% endif %}
echo "Done."
