{{ generated_header }}
---
- hosts: localhost
  gather_facts: no
  vars:
    hostpkg_bindmnt_dirs:
{% if base_os == "rhel7" %}
    - /etc/rhsm/ca
    - /etc/pki/entitlement
{% endif %}
    - /etc/pki/rpm-gpg
    - /etc/rpm
    - /var/lib/rpm
    - /var/lib/yum
    - /var/cache/yum

{% raw %}

  pre_tasks:
  - stat:
      path: /secrets/host_monitoring_vars.yml
    register: g_host_monitoring_vars

  - name: Grab all content of the yaml files as vars
    include_vars: "{{ item }}"
    with_fileglob:
    - /container_setup/*.yml

  - name: Load variables that will override the defaults
    include_vars: /secrets/host_monitoring_vars.yml
    when: g_host_monitoring_vars.stat.exists

  - fail: msg="This playbook requires {{ item }} to be set and not empty."
    when: "{{ item }} is not defined or not {{ item }}"
    with_items:
    - metric_sender_config
    - oso_host_type
    - oso_cluster_id

  - name: write out the vars coming in container_metrics.yml to a file
    copy:
      content: "{{ container_metrics_config | to_nice_yaml }}"
      dest: /etc/openshift_tools/container_metrics.yml
      mode: 0644
    when: container_metrics_config is defined

  - name: write out the vars coming in etcd_metrics.yml to a file
    copy:
      content: "{{ etcd_metrics_config | to_nice_yaml }}"
      dest: /etc/openshift_tools/etcd_metrics.yml
      mode: 0644
    when: etcd_metrics_config is defined

  - name: copy ulrchecks config from container_setup
    copy:
      src: /container_setup/urlchecks.yml
      dest: /etc/openshift_tools/urlchecks.yml
      mode: 0644
    when: "'/container_setup/urlchecks.yml' | is_file"

  - block:
    - name: find kubeconfig exact file name
      find:
        paths: "/etc/origin/node"
        patterns: "*node*kubeconfig"
        use_regex: False
      register: files
{% endraw %}

    # FIXME: change to use openshift ansible module when it is packaged and installed in host-mon container
    - name: get service IP for the service
      command: >
        /usr/bin/oc --config={{ '{{' }} files.files.0['path'] }}
        get svc zagg-service -n default
        --template='{{ '{%' }} raw %}{{ '{{' }}.spec.clusterIP}}{{ '{%' }} endraw %}'
      register: svcipout
{% raw %}
    - name: change zaggtarget to IP if uses local cluster zagg
      set_fact:
        metric_sender_config="{{metric_sender_config|combine({'zagg':{'url':'http://'+svcipout.stdout}},recursive=True)}}"

    when:
    - ("zagg-service.default.svc.cluster.local" in metric_sender_config['zagg']['url'])
    - metric_sender_config['zagg']['active'] == True

  - name: Generate the metric_sender.yaml config file
    copy:
      content: "{{ metric_sender_config | to_nice_yaml }}"
      dest: /etc/openshift_tools/metric_sender.yaml
      mode: "644"

  - name: Check whether /etc/origin exists
    stat:
      path: /etc/origin
    register: etc_origin

  - name: Create /etc/origin -> /etc/openshift link if needed
    file:
      state: link
      src: /etc/openshift
      dest: /etc/origin
      force: yes
    when: etc_origin.stat.exists == False and oso_host_type == 'master'

  - name: Setup Cron
    cron:
      name: "{{ item.name }}"
      job: "{{ item.job }}"
      minute: "{{ item.minute | default('*', True) }}"
      hour: "{{ item.hour | default('*', True) }}"
      day: "{{ item.day | default('*', True) }}"
      month: "{{ item.month | default('*', True) }}"
      weekday: "{{ item.weekday | default('*', True) }}"
    with_items:
    - "{{ host_monitoring_cron }}"

  - name: stat the kubeconfig
    stat:
      path: /etc/origin/master/admin.kubeconfig
    register: kubepath

  - name: copy kubeconfig to tmp
    copy:
      src: /etc/origin/master/admin.kubeconfig
      dest: /tmp/admin.kubeconfig
      mode: '0770'
    when: kubepath.stat.exists

  - name: add snapshotter aws creds to /root/.aws/credentials
    ini_file:
      dest: /root/.aws/credentials
      section: snapshotter
      option: "{{ item.key }}"
      value: "{{ item.value }}"
    when: oso_snapshot_aws_key_id is defined and
          oso_snapshot_aws_secret_access_key is defined
    with_items:
    - key: aws_access_key_id
      value: "{{ oso_snapshot_aws_key_id }}"
    - key: aws_secret_access_key
      value: "{{ oso_snapshot_aws_secret_access_key }}"
    ignore_errors: yes

  - name: add ops_monitoring aws creds to /root/.aws/credentials
    ini_file:
      dest: /root/.aws/credentials
      section: ops_monitoring
      option: "{{ item.key }}"
      value: "{{ item.value }}"
    when: oso_ops_monitoring_aws_key_id is defined and
          oso_ops_monitoring_aws_secret_access_key is defined
    with_items:
    - key: aws_access_key_id
      value: "{{ oso_ops_monitoring_aws_key_id }}"
    - key: aws_secret_access_key
      value: "{{ oso_ops_monitoring_aws_secret_access_key }}"
    ignore_errors: yes

  - name: create /root/.gce dir
    file:
      state: directory
      dest: /root/.gce
    when: gcp_volume_user_creds is defined

  - name: add gcp snapshotter creds to /root/.gce/creds.json
    copy:
      content: "{{ gcp_volume_user_creds }}"
      dest: /root/.gce/creds.json
    when: gcp_volume_user_creds is defined

  - name: "Create bind mountpoints for hostpkg checks"
    file:
      path: "/var/local/hostpkg{{ item }}"
      state: directory
      recurse: yes
    with_items: "{{hostpkg_bindmnt_dirs}}"

  - name: "Bind mount /host/ dirs to /var/local/hostpkg/ for hostpkg checks"
    mount:
      opts: bind
      fstype: none
      state: mounted
      name: "/var/local/hostpkg{{ item }}"
      src: "/host{{ item }}"
    with_items: "{{hostpkg_bindmnt_dirs}}"

{% endraw %}
