---
- name: Grab private DNS name of node
  set_fact:
    node_dns_name: "{{ ec2_private_dns_name }}"

- name: "Set node schedulable == {{ osns_is_schedulable }}"
  oc_adm_manage_node:
    node: "{{ node_dns_name }}"
    schedulable: "{{ osns_is_schedulable }}"
  delegate_to: "{{ osns_cluster_master }}"
  retries: 10
  delay: 5
  register: result_node_schedulable
  until: result_node_schedulable|succeeded

# Attempt to drain nodes for 2 hours before giving up. Continue with upgrade if drain fails after that long
- name: Drain Node (when specified)
  command: /usr/bin/oc adm drain "{{ node_dns_name }}"  --force --delete-local-data --ignore-daemonsets
  delegate_to: "{{ osns_cluster_master }}"
  register: result_drain
  when: osns_drain is defined
  async: 7200
  poll: 60
  ignore_errors: True
