#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-rkhunter... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true --name oso-rkhunter oso-rhel7-rkhunter $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true --name oso-rkhunter oso-centos7-rkhunter $@
{% endif %}
echo "Done."
