---
- name: Include variable to determine the sub host type
  include_vars:
    file: /host/root/openshift_bootstrap/openshift_settings.yaml

- set_fact:
    dsp_host_name: "{{ dsp_cluster_id }}-{% raw %}{{ openshift_node_config_name.split('-') | last }}-{{ lookup('env', 'HOSTNAME') }}{% endraw %}"

- name: copy monitoring config to shared config emptydir
  copy:
    remote_src: true
    src: /opt/secrets/monitoring_config.yml
    dest: /tmp/monitoring_config_pre.yml
    owner: root
    group: root

- name: update the hostname
  command: 'sed -i -e "s#^    name: \"UPDATENAME\"#    name: {% raw %}{{ dsp_host_name }}{% endraw %}#" /tmp/monitoring_config_pre.yml'
  register: sedout

- name: verify hostname was updated
  command: 'grep -Pq "^    name: UPDATENAME" /tmp/monitoring_config_pre.yml'
  register: grepout
  failed_when:
  - grepout.rc == 0

- name: copy fixed monitoring config to shared config emptydir
  copy:
    remote_src: true
    src: /tmp/monitoring_config_pre.yml
    dest: /opt/tmp_shared_config/monitoring_config.yml
    mode: "0640"
    owner: root
    group: root
