#!/bin/bash -e
{{ generated_header }}

echo -n "Running oso-{{ base_os }}-log-writer... "
{% if base_os == 'rhel7' %}
sudo docker run -ti --net=host --rm=true --name oso-log-writer oso-rhel7-log-writer $@
{% elif base_os == 'centos7' %}
sudo docker run -ti --net=host --rm=true --name oso-log-writer oso-centos7-log-writer $@
{% endif %}
echo "Done."
