heartbeat:
{% if 'hostgroups' in zagg_configdata and zagg_configdata.hostgroups | length > 0 %}
    hostgroups:
{% for group in zagg_configdata.hostgroups %}
    - {{ group }}
{% endfor %}
{% else %}
    hostgroups: []
{% endif %}
    templates:
    - Template Heartbeat
    - Template Ops SSO
host:
    name: {{ hostname }}
synthetic_clusterwide:
    heartbeat:
        templates:
        - Template Heartbeat
        - Template OpenShift Cluster
        - Template Ops SSO
    host:
        name: ops-aws-synthetic
zagg:
    debug: {{ zagg_configdata.debug | default('False') }}
    pass: {{ zagg_configdata.password }}
    ssl_verify: {{ zagg_configdata.ssl_verify | default('True') }}
    url: {{ zagg_configdata.url }}
    user: {{ zagg_configdata.user }}
    verbose: {{ zagg_configdata.verbose | default('False') }}
