<!DOCTYPE html>
<html>
<head>
<title>Takedowns Chart - SRE Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="/js/Chart.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>

<body>
  <div style="width:75%;">
    <canvas id="canvas"></canvas>
  </div>
  <br>
  <br>
  <button id="dayButton">Day</button>
  <button id="weekButton">Week</button>
  <button id="monthButton">Month</button>
  <button id="quarterButton">Quarter</button>
  <br>
  <p>
      <pre id="jsonp-response"></pre>
  </p>
  <script>
    window.bgColor = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#42f4f4", "#ff7b00", "#fffa00", "#00c110", "#0039c1", "#7706e0", "#e08506", "#7caf8b", "#5208d3", "#dd0000", "#a0852c", "#5a706f", "#c8f48b", "#96876f"];

    var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var config = {
      type: 'pie',
      data: {
        labels: [{{range $key, $value := .catCount}}"{{$key}}",{{end}}],
        datasets: [{
          label: "Takedown categories for the selected period",
          backgroundColor: window.bgColor, 
          data: [{{range $key, $value := .catCount}}"{{$value}}",{{end}}],
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Abusive accounts taken down by category'
        }
      }
    };

    document.getElementById('dayButton').addEventListener('click', function() {
      var host_prefix = 'https://sre-dashboard.openshift.com';
      var url = host_prefix + '/api/takedowns?callback=?&dateparam=day';
      $.getJSON(url, function(jsonp) {
          genGraph(jsonp);
      });
    });

    document.getElementById('weekButton').addEventListener('click', function() {
      var host_prefix = 'https://sre-dashboard.openshift.com';
      var url = host_prefix + '/api/takedowns?callback=?&dateparam=week';
      $.getJSON(url, function(jsonp) {
          genGraph(jsonp);
      });
    });

    document.getElementById('monthButton').addEventListener('click', function() {
      var host_prefix = 'https://sre-dashboard.openshift.com';
      var url = host_prefix + '/api/takedowns?callback=?&dateparam=month';
      $.getJSON(url, function(jsonp) {
          genGraph(jsonp);
      });
    });

    document.getElementById('quarterButton').addEventListener('click', function() {
      var host_prefix = 'https://sre-dashboard.openshift.com';
      var url = host_prefix + '/api/takedowns?callback=?&dateparam=quarter';
      $.getJSON(url, function(jsonp) {
          genGraph(jsonp);
      });
    });

      function genGraph(jsonp) {
        var newDataObject = {
          type: 'pie',
          data: {
            labels: Object.keys(jsonp.response),
            datasets: [{
              label: "Takedown categories for the selected period",
              backgroundColor: window.bgColor, 
              data: Object.values(jsonp.response),
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Abusive accounts taken down by category'
            }
          }
        };
        var nctx = document.getElementById("canvas").getContext("2d");
        window.myLine.destroy();
        myLine = getNewChart(nctx, newDataObject);

        var jsonpr = Object.values(jsonp.response);
        var arraySum = jsonpr.reduce(getSum);
        $("#jsonp-response").html("Total takedowns for the period: " + arraySum);

        window.myLine.update();
      };

    window.onload = function() {
      var initArray = [{{range $key, $value := .catCount}}"{{$value}}",{{end}}];
      var initSum = initArray.reduce(getSum);
      $("#jsonp-response").html("Total takedowns for the period: " + initSum);

      var ctx = document.getElementById("canvas").getContext("2d");
      window.myLine = getNewChart(ctx, config);
    };

    function getSum(total, num) {
        return total + num;
    }

    function getNewChart(canvas, config) {
        return new Chart(canvas, config);
    }

  </script>
</body>
</html>
